@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

// typography setup global
// font-families
h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
}

.subheading1 {
  font-family: "Bellefair", serif;
}

h5,
.subheading2,
.nav-text,
.body-text {
  font-family: "Barlow Condensed", sans-serif;
}

// font-size

h1 {
  font-size: 9.375rem;
}

h2 {
  font-size: 6.25rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
  letter-spacing: 4.75em;
}

.subheading1 {
  font-size: 1.75rem;
}

.subheading2 {
  font-size: 0.875rem;
  letter-spacing: 2.35;
}

.nav-text,
.body-text {
  font-size: 1rem;
  letter-spacing: 2.7em;
}

// a-elements which have a class are not underlined
a[class],
a[class]:visited,
a[class]:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

// make images easier to work with
img,
picture {
  max-width: 100%;
  display: block;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

// Remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
