// breakpoints (recomment using em units!)
$small: 37.5em; //600px
$medium: 48em; //768px
$large: 90em; //1440px
$x-large: 100em; //1600px

// colors
$clr-black: hsl(230, 35%, 7%);
$clr-black-transp: hsla(230, 35%, 7%, 0.1);
$clr-purple: hsl(231, 77%, 90%);
$clr-white: hsl(0, 0%, 100%);
$clr-grey: hsl(228, 6%, 32%);
$clr-light-grey: hsla(234, 6%, 32%, 0.5);
$clr-nav-hover: hsl(0, 0%, 59%);

// font-sizes

$fz-100: clamp(1rem, 0.736rem + 1.126vw, 1.75rem);
$fz-200: clamp(1rem, 0.9849rem + 1.5vw, 2rem);
$fz-300: clamp(1.5rem, 0.7959rem + 3.004vw, 3.5rem);
$fz-400: clamp(3.5rem, 2.5317rem + 4.131vw, 6.25rem);
$fz-500: clamp(5rem, 3.4592rem + 6.572vw, 9.375rem);

/*
calculate preferred value for clamp function

slope = (maxFontSize - minFontSize) / (maxWidth - minWidth)
yAxisIntersection = -minWidth * slope + minFontSize

preferredValue = yAxisIntersection[rem] + (slope * 100)[vw]

e.g
font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);



vw
90 - 23.4375 = 66.5625

h1 
9.375 - 5 = 4.375
slope = 0.065727
y-axis-intersection = 3.4592
preferred value =

h2
6.25 - 3.5 = 2.75
slope = 0.04131
y-axis-intersection = 2.5317
preferred value =

h3
3.5 - 1.5 = 2
slope = 0.03004
y-axis-intersection = 0,7959
preferred value =

h4
2 - 1 = 1
slope = 0.01502
y-axis-intersection = 0,9849
preferred value =

h5
1.75 - 1 = 0.75
slope = 0.01126
y-axis-intersection = 0.736
preferred value =

*/
